html {
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    
    .cabecalho {
      background-color: black;
      color: white;
      padding: 7px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
  
    .cabecalho a {
      color: white;
      text-decoration: none;
      padding: 10px;
      margin-right: 10px;
    }
  
    .cabecalho a:hover {
      background-color: red;
      border: 1px solid red;
      border-radius: 0px;
    }
  
    .logo {
      background-color: green;
      padding: 0px;
      width: 150%;
    }
  
    
    .dropbtn {
      font-family: "Times New Roman", Times, serif;
      background-color: black;
      color: white;
      border: none;
      width: 100%;
    }
  
   
    .dropdown {
      position: relative;
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 0px;
      margin-right: 0px;
    }
  
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 300px;
    }
  
  
    .dropdown-content a {
      color: black;
      border-color: white;
      text-decoration: none;
      display: block;
      width: 93%;
    }
  
  
    .dropdown-content a:hover {background-color: #e0e0e0; border: none;}
  
  
    .dropdown:hover .dropdown-content {display: block;}
  
    .dropdown:hover .dropbtn {
      background-color: red;
      border: 1px solid red;
      border-radius: 0px;
    }
  
    p.right{
      text-align: right;
    }
  
    p.center{
      text-align: center;
    }
  
    .oval-image {
      border-radius: 50%;
    }
  
    .box {
      border: 1px solid black;
    }
  
    .box p {
      display: inline;
      margin: none;
    }
  
    .selecao {
      background-color: #ede8e8;
      border: none;
      width: 99%;
      padding: 10px;
      margin: 10px;
    }
  
    .caixa-texto {
      border: 1px solid #8a8a8a;
      border-radius: 3px;
      width: 98%;
      padding: 10px;
      margin: 10px;
    }
  
    .bloco {
      text-align: left;
      background-color: #dedede;
      border: none;
      border-radius: 3px;
      width: 98%;
      padding: 10px;
      margin: 10px;
    }
  
    .botao {
      text-align: center;
      background-color: green;
      color: white;
      border: none;
      border-radius: 3px;
      width: 99%;
      padding: 10px;
      margin: 10px;
    }
  
    .grid-container {
      display: inline-grid;
      grid-template-columns: auto auto;
    }
    
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 0px solid rgba(0, 0, 0, 0.8);
      padding: 0px;
      font-size: 12px;
      text-align: center;
    }
  
    .slideshow-container {
      min-height: 100px;
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
  
    .slides {
      display: none;
    }
  
    .slides-img {
       width: 100%;
       height: auto;
    }
  
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
  }
  
  .next {
      right: 0;
      border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  }